<% if (site.posts.length){ %>
<div class="widget-wrap">
<h3 class="widget-title"><%= __('IPv6 Enable') %></h3>
<div class="widget">
<!-- start -->
<img src="/img/ipv6/ipv6_enable_logo.jpg" width="50%" height="50%" >
<!-- end -->
</div>
</div>
<% } %>